@page "/"

<PageTitle>Good Hamburger</PageTitle>

<h1>🍔 Bem-vindo ao Good Hamburger!</h1>

<p class="lead">Sistema de pedidos da lanchonete.</p>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">📋 Cardápio</h5>
                <p class="card-text">Veja todos os itens disponíveis com preços e descontos.</p>
                <a href="menu" class="btn btn-outline-primary">Ver Cardápio</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">🛒 Pedidos</h5>
                <p class="card-text">Crie, edite e gerencie os pedidos da lanchonete.</p>
                <a href="orders" class="btn btn-outline-success">Gerenciar Pedidos</a>
            </div>
        </div>
    </div>
</div>
